@{
    ViewData["Title"] = "Rules";
}

<div class="container">
    
    <h2>Rules for game room</h2>

    <h2>Number of questions</h2>

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input name="options" id="option1" type="radio"> 10
        </label>
        <label class="btn btn-primary">
            <input name="options" id="option2" type="radio"> 15
        </label>
        <label class="btn btn-primary active">
            <input name="options" id="option3" type="radio"> 20
        </label>
    </div>

    <h2>Time per question (in seconds)</h2>

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input name="options" id="option1" type="radio"> 5
        </label>
        <label class="btn btn-primary">
            <input name="options" id="option2" type="radio"> 10
        </label>
        <label class="btn btn-primary active">
            <input name="options" id="option3" type="radio"> 15
        </label>
    </div>
    <a asp-controller="Home" asp-action="Startgame" class=" btn btn-block btn-primary" role="button">Start game!</a>
</div>
