@{
    ViewData["Title"] = "Rules";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <span class="label label-default">Label</span> <span class="label label-default">Label</span> <span class="label label-default">Label</span>
        </div>
        <div class="col-md-6">
            <button><a asp-controller="Home" asp-action="Startgame">Play</a></button>
            <button type="button" class="btn btn-default">
                Default
            </button>
            <button type="button" class="btn btn-default">
                Default
            </button>
            <button type="button" class="btn btn-default">
                Default
            </button>
        </div>
    </div>
</div>